.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.item {
  align-self: flex-end;
}

.green{
background-color: rgb(82,212,0);
height: 189px;
width: 189px;
align-self: center;


}
.yellow{
background-color: rgb(255,215,42);
height: 189px;
width: 189px;

}
.purple {
  background-color: rgb(176,41,255);
  height: 189px;
  width: 189px;  
}