body{
  display: flex;
  justify-content: center;
  margin: 50px;
}
form{
  display: flex;
  flex-direction: column;  
  padding: 10px;
  
}
label{
  
  
}
button{
  
  margin: 25px 2px;
  color: black;
  padding: 16px 24px;
  border: none;
  border-radius: 18px;
  font-size: 20px;
}