.container {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
}


.yellow{
  background-color: rgb(255,215,42);
  height: 40vh;
  width: 100vw;
  
}
.purple {
  background-color: rgb(176,41,255);
  z-index: 1;
  position: absolute;
  height: 100px;
  width: 100px;
  
}

.item {
  padding: 0%;
  margin: 0%;
}

body{
  padding: 0%;
  margin: 0%;
}